**/__pycache__
gtk/.config/gtk-3.0/bookmarks
*#*#
*emacs\~
*lock.json
scripts/dot-local/bin/PyPaperBot
scripts/dot-local/bin/anki
scripts/dot-local/bin/chardetect
scripts/dot-local/bin/easy_install
scripts/dot-local/bin/easy_install-2.7
scripts/dot-local/bin/env
scripts/dot-local/bin/env.fish
scripts/dot-local/bin/epylint
scripts/dot-local/bin/futurize
scripts/dot-local/bin/isort
scripts/dot-local/bin/isort-identify-imports
scripts/dot-local/bin/llama-batched-bench
scripts/dot-local/bin/llama
scripts/dot-local/bin/llama-bench
scripts/dot-local/bin/llama-cli
scripts/dot-local/bin/llama-completion
scripts/dot-local/bin/llama-fit-params
scripts/dot-local/bin/llama-gguf-split
scripts/dot-local/bin/llama-quantize
scripts/dot-local/bin/llama-server
scripts/dot-local/bin/llama-swap
scripts/dot-local/bin/llama-tokenize
scripts/dot-local/bin/pasteurize
scripts/dot-local/bin/pip
scripts/dot-local/bin/pip2
scripts/dot-local/bin/pip2.7
scripts/dot-local/bin/pyChainedProxy
scripts/dot-local/bin/pylint
scripts/dot-local/bin/pylupdate5
scripts/dot-local/bin/pymupdf
scripts/dot-local/bin/pyrcc5
scripts/dot-local/bin/pyreverse
scripts/dot-local/bin/pyuic5
scripts/dot-local/bin/qmk
scripts/dot-local/bin/sc.sh
scripts/dot-local/bin/sioyek
scripts/dot-local/bin/slugify
scripts/dot-local/bin/startup.sh
scripts/dot-local/bin/symilar
scripts/dot-local/bin/tqdm
scripts/dot-local/bin/translate
scripts/dot-local/bin/uv
scripts/dot-local/bin/uvx
scripts/dot-local/bin/virtualenv
scripts/dot-local/bin/wheel
